.profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-align: left;
    color: #6a3a3d;;
    font-family: "Garbata";
    
  
    &__info {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  
    .user {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0;
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: capitalize;
      }
  
      p {
        font-size: 0.95rem;
        opacity: 0.6;
        margin: 0;
      }
    }
  
    .img-box {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .menu {
      position: absolute;
      top: calc(100% + 24px);
      right: 0;
      width: 175px;
      background-color: #fcd5ce;
      border-radius: 1rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      opacity: 0;
      transform: translateY(-10px);
      visibility: hidden;
      transition: 300ms ease;
  
      &.active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
  
      &::before {
        content: '';
        position: absolute;
        top: -10px;
        right: 14px;
        width: 20px;
        height: 20px;
        background: #fcd5ce;
        transform: rotate(45deg);
        z-index: -1;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          padding: 15px 20px;
          transition: background-color 0.2s ease;
          cursor: pointer;
          border-radius: 0.5rem;
  
          &:hover {
            background-color: #83494c;
            color: #fcd5ce;
          }
  
          button {
            all: unset;
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }
  }
  