@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.quiz {
  &__determining {
    @include flex(column, center, center);
    min-height: 50vh; 
    opacity: 1;
    transition: opacity 0.5s ease;
    width: 100%;
    text-align: center;
    padding: 2rem;

    &--fade {
      opacity: 0; 
    }

    p {
      font-size: $font-size-large;
      color: $primary-color;
      margin-top: 1rem;
    }
  }
  &__spinner {
    border: .25rem solid #f3f3f3;
    border-top: .25rem solid $primary-color;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
