// Colors
$primary-color: #83494c; 
$secondary-color: #6a3a3d; 
$light-peach: #fff0eb; 
$light-apricot: #fcd5ce; 
$text-color: #5a2d2f; 
$error-color: #EE6D78; 
$error-bg: #fff3f3; 
$light-orange: #ffb4a2; 
$soft-pink: #e6a4b4; 

// Fonts
$font-size-small: 1rem;
$font-size-medium:1.125rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2.75rem;

//Screens
$mobile-max: 767px;
$tablet-max: 1279px;
