$primary-text-color: #0c1e1a;
$primary-accent-color: #1e6655;
$primary-background-color: #effaf7;

$secondary-border-color: #b7cec9;
$secondary-background-color: #e4efec;
$secondary-text-color: #ffffff;

$tablet-min: 768px;
$desktop-min: 1280px;
