@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.hero {
  font-family: "Garbata", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fae1dd; 
  color: #83494c; 
  padding: 4rem 2rem 4rem 9rem; 

  &__text {
    max-width: 50%;
    animation: slideInLeft 1s ease-in-out; // Keep animation
  }

  &__title {
    font-size: 3.5rem; // Slightly smaller for balance
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: #83494c; // Match mission section text color
    opacity: 0; // Start invisible
    animation: fadeIn 1s ease-in-out 0.5s forwards; // Keep animation
  }

  &__sub {
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
    color: #6a3a3d; // Match mission section text color
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #6a3a3d;
    animation: typing 4s steps(40, end),
      blink-caret 0.75s step-end 3.5s forwards; // Keep animation
  }

  &__image {
    max-width: 50%;
    overflow: hidden;
    height: 30rem;
    width: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 1rem; // Match mission section image border radius
    opacity: 0; // Start invisible
    animation: slideInRight 1s ease-in-out forwards; // Keep animation
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Animations */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #6a3a3d;
  }
}