.page__container--register {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    ellipse 80% 47% at center,
    #fffdfc 0%,
    #fffdfc 30%,
    #ffeae4 50%,
    #fcd5ce 75%,
    #fcd5ce 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
