@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.page__container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    ellipse 80% 47% at center,
    #fffdfc 0%,
    #fffdfc 30%,
    #ffeae4 50%,
    #fcd5ce 75%,
    #fcd5ce 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.quiz-page {
  max-width: 640px;
  margin: 9rem auto 4rem;
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  font-family: "Garbata";
  color: #5a2d2f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; // Center content horizontally
  justify-content: center; // Center content vertically
  min-height: 70vh; // Ensure the container takes up enough space

  &__title {
    font-size: 2.75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    color: #83494c;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &__loading,
  &__error {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #e63946;
    padding: 2rem 1rem;
  }

  @keyframes slideFadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
