@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.page__container--login {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    ellipse 80% 47% at center,
    #fffdfc 0%,
    #fffdfc 30%,
    #ffeae4 50%,
    $light-apricot 75%,
    $light-apricot 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
