@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.footer__copyright {
  background-color: #fcd5ce;
  color: #83494c;
  padding: 2rem;
  font-family: "Ariel";
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}