.footer__copyright {
  background: #fae1dd;
  color: #83494c;
  padding: 2rem;
  font-family: "Ariel";
  font-size: 0.9rem;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}