@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: $light-apricot;

  &__container {
    @include flex(row-reverse, space-between, center);
    height: 100%;
    padding: 0 5%;
    position: relative;
  }

  &__content {
    flex: 1;
    max-width: 50%;
    padding-right: 2rem;
    z-index: 3; 
  }

  &__title {
    font-family: "Garbata";
    font-size: 6rem;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 2rem;
    line-height: 1.1;
  }

  &__title.in-nav {
    font-size: 2.5rem;
    position: fixed;
    top: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    text-align: center;
  }

  &__slogan {
    font-size: 2rem;
    color: $primary-color;
    font-style: italic;
    margin-top: 1rem;
    overflow: hidden;
    border-right: 2px solid transparent; 
    white-space: nowrap;
    animation: 
      typing 3s steps(60, end) forwards, 
      blink-caret .75s step-end 8; 
  }

  &__image-container {
    position: absolute;
    left: 0;
    width: 55%;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  &__image-wrapper {
    position: relative;
    width: 80%;
    height: 100%;
    border-radius: 0 60% 0 0%;
    z-index: 2;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      border: 2px solid $primary-color;
      pointer-events: none;
      z-index: 3;
    }
    
    &::after {
      content: '';
      position: absolute;
      top: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      border-radius: inherit;
      border: 2px solid $primary-color;
      pointer-events: none;
      z-index: 2; 
    }
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit; 
  }


  &__image-bar {
    display: none;
  }

  &__nav {
    @include flex(row, space-between, center);
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    height: 4rem;
  }

  &__nav.scrolled {
    background-color: $light-apricot;
  }

  &__logo {
    height: 5rem;
    margin-top: 0.5rem;
    z-index: 1001;
  }

  &__profile {
    height: 3rem;
    width: auto;
    @include flex(row, flex-end, center);
    position: relative;
    z-index: 1002;
  }

  &__profile--button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 3rem;
    width: 3rem;
    @include flex(row, center, center);

    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__profile--icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }

  @keyframes typing {
    from { 
      width: 0;
      border-right-color: $primary-color; 
    }
    to { 
      width: 73%;
      border-right-color: transparent; 
    }
  }
  
  @keyframes blink-caret {
    from, to { border-right-color: transparent }
    50% { border-right-color: $primary-color }
  }
}