@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.homepage {
  &__container {
    background: url(../../assets/images/skincare-back5.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 6rem;
    padding-top: 40rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    height: 4rem;
  }

  &__nav.scrolled {
    background-color: #fcd5ce;
  }

  &__logo {
    height: 5rem;
    margin-top: 0.5rem;
  }

  &__profile {
    height: 7rem;
    width: 11rem;
  }

  &__title {
    font-family: "Garbata";
    font-size: 14rem;
    text-transform: uppercase;
    color: #83494c;
    display: flex;
    justify-content: center;
  }

  &__title.in-nav {
    font-size: 2.5rem;
    position: fixed;
    top: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    text-align: center;
  }
  &__profile {
    height: 3rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 1002;
  }

  &__profile-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__profile-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }
  &__carousel-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    color: #83494c;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-family: "Garbata";
    background: radial-gradient(circle, #fcd5ce 30%, #ffeae4 90%, #ffffff 100%);
    position: relative;
  
    span {
      position: relative;
      padding: 0 1rem;
      white-space: nowrap;
  
      &::before,
      &::after {
        content: "";
        display: inline-block;
        width: 350px;
        height: 2px;
        background-color: #83494c;
        vertical-align: middle;
        margin: 0 1rem;
      }
  
      &::before {
        margin-right: 1rem;
      }
  
      &::after {
        margin-left: 1rem;
      }
    }
  }
  
}
